.PlayersIconsHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.radio-button {
    display: flex;
    align-items: center; /* This centers the items vertically */
    justify-content: center; /* This centers the items horizontally */
    margin: 5%  0; /* This adds a top and bottom margin of 10px */
}

.role-select-button {
  margin-top: 10px; /* Adjust top margin */
  width: 100%; /* Full width of the container */
  text-align: center;
}

.selected-role-button {
  margin-top: 10px; /* Adjust top margin */
  width: 100%; /* Full width of the container */
  text-align: center;
  background-color: #555; /* Change to your preferred blue color */
  color: white; /* Text color for better contrast */
}

.game-room {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center; /* Ensures the container takes up at least the full height of the viewport */
}

.end-game-button-container {
  margin-top: auto; /* Pushes the container to the bottom */
}