.imageContainer {
    width: 95%;
    position: relative;
  }
  
  .imageContainer img {
    display: block;
    border-radius: 20px;
    width: 100%;
    opacity: .7;
  }
  
  .green-background {
    border: 1px solid rgba(0, 255, 0, 0.65);
  }
  
  .red-background {
    border: 1px solid rgba(255, 0, 0, 0.65);
  }
  
  .blue-background {
    border: 1px solid rgba(0, 0, 255, 0.65);
  }
  
  .white-background {
    border: 1px solid rgba(255, 255, 255, 0.65);
  }
  
  .black-background {
    border: 1px solid rgba(0, 0, 0, 0.65);
  }
  
  .colorless-background {
    border: 1px solid rgba(125, 125, 125, 0.65);
  }
  
  .titleBox {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    margin-top: 1%;
  }
  
  .titleBox p {
    margin: 0;
  }
  
  .title {
    font-size: 17px;
    line-height: 1;
  }
  
  .subtitle {
    font-size: 12px;
    font-style: italic;
  }
  
  .bodyBox {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    border-radius: 20px;
    height: auto;
  }
  
.bodyBox p {
  font-size: 11px;
  margin: 0.2em 0;        /* Adjust this to control spacing */
  line-height: 1;       /* Adjust this to control internal spacing within each <p> */
  margin-left: 3px;
  white-space: pre-line;  /* Ensures \n inside text works */
}
