.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: '"Lucida Console", Monaco, monospace';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Form.css */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Creates some space between the elements */
}

.input-field {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #120069;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #4ec2f7;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: white;
  font-size: 20px;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: grey;
}

.ant-carousel .slick-dots li button {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: white;
}

.ant-carousel .slick-dots li.slick-active button{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: black;
}

.logoutButton {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
}
.connectionStatus {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
}
